*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #272932   
}
h1{
    position: absolute;
    top:150px;
    color:white;
    text-shadow: 5px 5px 5px #0b0b0b;
    font-size: 45px;
}
.empty{
    display:flex;
    justify-content: center;
    align-items: center;
    width:150px;
    height: 150px;
    margin:10px;
    color:white;
    background-color: #0b0b0b;
    border:1px solid rgba(255, 255, 255, 0.5);
    box-shadow: 2px 2px 5px 0 black;
}

.fill {
    background-image: url('https://source.unsplash.com/random/150x150');
    width:147px;
    height: 147px;
    cursor: pointer;
}


.hold {
    border: solid 4px #242424;
}

.hovered {
    background-color: rgb(45, 45, 45);
    border: 2px dashed white;
}